

$color_scheme: '{{ site.color_scheme }}';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import "custom";

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  
  .gallery-item {
    width: 100%;
  }
  
  
  